* {
  text-decoration:none;
}
/* ========================= [Header Component] ========================= */
.header {
  display:flex;
  align-items:baseline;
  justify-content:space-between;
  height:8.5em;
  width:100%;
  border: 2px solid #ae272e; 
  margin-top:0;
}

.nav-home{
  font-size:30px;
  font-weight:bold;
  margin-top:59px;
  margin-bottom:36px;
  margin-left:67px;
}

.nav-home :hover{
  border-bottom: .1em solid #ae272e; 
  padding-bottom:.3em;
  /* Remove lower CSS to remove added padding / shifting during hover */
  padding-left:.5em;
  padding-right:.5em;

}

.nav-menu{
  font-size:30px;
  font-weight:bold;
  margin-top:59px;
  margin-bottom:36px;
}

.nav-menu :hover{
  border-bottom: .1em solid #ae272e; 
  padding-bottom:.3em;
  /* Remove lower CSS to remove added padding / shifting during hover */
  padding-left:.5em;
  padding-right:.5em;
}

.nav-title{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:'Hind Madurai', sans-serif;
  font-variant:small-caps;
  font-size:25px;
  color:#ae272e;
  text-decoration:none;
  line-height:8px;
}


.nav-title2{
  font-family:'Hind Madurai', sans-serif;
  font-size:13px;
  font-variant:small-caps; 
  color:#ae272e;
  line-height:8px;
}

.nav-title3{
  font-family:'Hind Madurai', sans-serif;
  font-size:10px;
  color:#ae272e;
  line-height:8px;
  margin-top:-8px;
}

.nav-about{
  font-size:30px;
  font-weight:bold;
  margin-top:59px;
  margin-bottom:36px;
}

.nav-about :hover{
  border-bottom: .1em solid #ae272e; 
  padding-bottom:.3em;
  /* Remove lower CSS to remove added padding / shifting during hover */
  padding-left:.5em;
  padding-right:.5em;
}

.nav-contact{
  font-size:30px;
  font-weight:bold;
  margin-top:59px;
  margin-bottom:36px;
  margin-right:67px;
}

.nav-contact :hover{
  border-bottom: .1em solid #ae272e; 
  padding-bottom:.3em;
  /* Remove lower CSS to remove added padding / shifting during hover */
  padding-left:.5em;
  padding-right:.5em;
}

.header a{
  text-decoration:none;
  font-family:'Hind Madurai', sans-serif;
  color:#ae272e;
}

/* ==========================[Footer Component]=========================== */

.footer {
  width:100%;
  height:7.5em;
  display:flex;
  justify-items:space-between;
  align-items:center;
  background-color:#ae272e;
}

.footer img{
  height:62px;
  width:62px;
}

.ig-icon {
  margin-left:67px;
}

.fb-icon {
  margin-left:67px;
}

.sm-links {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-top:.8em;
  padding-bottom:.8em;
  width:100%;
}

/* ===========================[About Component]============================ */

.about {
  display:grid;
  grid-template-columns:[first] 65px [second] 1fr [third] 1fr [fourth] 65px [last];
  grid-template-rows:[line1] 553px [line2] auto [line3] auto [line4];
  height:1200px;
}

.about-left{
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: line1;
  grid-row-end: line2;
  margin-top:50px;
}

.about-right{
  margin-top:50px;
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: line1;
  grid-row-end: line2;
  margin-left:12%;
  justify-self:center;
}

.about-right h3{
  font-family:'Hind Madurai', sans-serif;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  color:#ae272e;
  margin-top:24%;
}

.about-right p{
  font-family:'Hind Madurai', sans-serif;
  font-size:21px;
  font-weight:medium;
  text-align:center;
  color: rgba(0, 0, 0, 0.85);
  margin-top: -1em;
  line-height: 1.4em;
}

.about img{
  height:503px;
  width:671px;
}

.testimonial-left {
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: line2;
  grid-row-end: line3;
  margin-left:1em;
}

.testimonial-left img{
  height:27vh;
  width:70%;
}

#second-testimonial {
  margin-top:3.4em;
  margin-left:24%;
  height:23vh;
}

.testimonial-left h3{
  font-family:'Hind Madurai', sans-serif;
  font-size:30px;
  font-weight:bold;
  color:#ae272e;
}

.testimonial-right {
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: line2;
  grid-row-end: line3;
  margin-left:20%;
}

.testimonial-right img{
  margin-top:16%;
  height:30vh;
  width:97%;
}

.red-hen{
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: line3;
  grid-row-end: line4;
}

.red-hen img{
  height:316px;
  width:276px;
  margin-top:-1em;
  margin-left:4em;
}

/* ==========================[Menu Component]=========================== */
.menu-category-div {
  height: 228px;
  background-color: #ae272e;
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0 11.5%;
  padding-top: 12px;
}

.menu-category:hover .menu-category-underline{
  display:inline
}
.menu-category-div p {
  width: 192px;
  height: 36px;
  object-fit: contain;
  font-family:'Hind Madurai', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.menu-category-img {
  width: 192px;
  height: 168px;
  object-fit: contain;
}
.menu-category-underline {
  width: 180px;
  height: 4px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #ffffff;
  display:none;
}

/* ==========================[ContactUs Component]=========================== */

#contact-us-section {
  margin: 85px;
}

.contact-by-phone {
  width: 249px;
  font-family:'Hind Madurai', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ae272e;
}
.phone-number {
  width: 117px;
  height: 29px;
  font-family:'Hind Madurai', sans-serif;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.phone-img {
  width: 41.6px;
  height: 21.3px;
  object-fit: contain;
}

.location-header {
  width: 310px;
  height: 41px;
  font-family:'Hind Madurai', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ae272e;
}

.gmap_canvas {
  width: 420px;
  height: 420px;
  object-fit: contain;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
}

#contact-phone-div {
  display: flex;
  align-items: center;
}

#contact-phone-div p {
  margin: 0;
}